.add-room {
  margin: 10px 0;
}

.add-room form {
  position: relative;
  margin: 5px 0;
}

.add-room label {
  margin-left: 5px;
}

.add-room .input {
  height: 28px;
  margin: 5px 0 0 0;
  padding: 4px 32px 4px 4px;
  font-size: 12px;
}

.add-room .button {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 28px;
  height: 28px;
  font-size: 24px;
}

.add-room .button:focus span,
.add-room .button:hover span {
  opacity: 1;
}

.add-room .button span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  transform: translate(-50%, -50%);
  opacity: .5;
}
