.sidebar {
  position: fixed;
  width: 220px;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  background: #f9f9f9;
  transform: translateX(0);
  transform-origin: 0 50%;
  transition: transform .2s;
}

.sidebar.is-hidden {
  transform: translateX(-100%);
}

.sidebar > h1 {
  margin-bottom: 15px;
}
