.login {
  display: flex;
  width: 290px;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.login__container {
  max-height: 290px;
  padding: 15px;
  background: #f5f5f5;
}

.login h1 {
  margin: 50px 0;
  text-align: center;
}

.login .login__input {
  margin-top: 5px;
  opacity: 0.8;
  transition: opacity .2s;
}
.login .login__input:focus {
  opacity: 1;
}

.login .login__submit {
  width: 100%;
  height: 48px;
  margin-top: 15px;
  padding: 5px;
  font-size: 14px;
  text-transform: uppercase;
}
