.add-message {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 15px;
}

.add-meassege .input:focus {
  box-shadow: 0 2px 10px 1px #f5f5f5;
}

/* Hide .add-message if login is opened  */
.login + .messages + .add-message {
  display: none;
}
