main {
  min-height: 100vh;
  margin-left: 220px;
  transition: margin .2s;
}

.sidebar.is-hidden + main {
  margin-left: 0;
}

.input {
  width: 100%;
  height: 48px;
  padding: 0 5px;
  font-size: 16px;
  border: 0;
  border-bottom: 2px solid #ffffff;
  transition: all .2s;
  appearance: none;
  border-radius: 0;
}

input:focus {
  outline: none;
  border-bottom-color: #333333;
}

.button {
  display: block;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  background: #333333;
  border-width: 2px;
  border-style: solid;
  border-color: #333333;
  transition: border .2s;
  appearance: none;
  border-radius: 0;
  outline: none;
}

.buton:focus {
  border-color: #ffffff;
}
