.messages {
  width: 100%;
  overflow-y: scroll;
}

.messages__heading {
  position: fixed;
  width: 100%;
  padding: 0 15px;
  line-height: 45px;
  border-bottom: 2px solid #f5f5f5;
  background: #fff;
}

.messages__list {
  height: 100%;
  padding: 60px 0 78px 15px;
  list-style-type: none;
}

/* Hide .messages if login is opened  */
.login + .messages {
  display: none;
}
